/* SOBRE NÓS */

.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 30%;
}

.sobre .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobre__titulo {
    color: var(--marrom);
    font-weight: 600;
}

.sobre__destaque {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    padding: 0.8em 0;
}

.sobre__texto {
    font-size: 20px;
    color: var(--cinza);
    text-align: center;
    line-height: 150%;
}

/* METRICAS */

.metricas {
    display: flex;
    justify-content: center;
    padding: 4em 0;

}

.metricas .container {
    display: flex;
}

.metricas__item {
    width: 280px;
    padding: 0 2em;
}

.metricas__destaque {
    font-weight: 600;
    font-size: 60px;
    color: var(--marrom);
}

.metricas__titulo {
    font-weight: 500;
    font-size: 18px;
    color: var(--preto);
    padding: 1em 0;
}

.metricas__texto {
    color: var(--cinza);
    line-height: 150%;
}

/* TALENTOS */

.talentos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5em 0;
}

.talentos .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1em;
}

.talentos__destaque {
    font-size: 14px;
    font-weight: 500;
    color: var(--marrom);
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 0.5em 0.8em;
}

.talentos__titulo {
    font-size: 36px;
    font-weight: 600;
    color: var(--preto);
}

.talentos__texto {
    font-size: 20px;
    color: var(--cinza);
    margin-top: 0.5em;
}

.talentos__imagem {
    margin-top: 4em;
}

/* VAGAS */

.vagas {
    padding: 0 25%;
    margin-bottom: 96px;
}

.vagas__titulo-secao {
    font-size: 20px;
    font-weight: 500;
    color: var(--preto);
    margin-bottom: 1em;
}

.vagas__item {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px;
    margin: 2em 0 1em 0;
}

.vagas__titulo-item {
    font-size: 18px;
    font-weight: 500;
    color: var(--preto);
}

.vagas__informacoes {
    font-weight: 500;
    color: var(--cinza);
    display: flex;
    gap: 1em;
    padding-top: 2em;
}

.item-margin {
    margin-bottom: 4em;
}

/* DEPOIMENTOS */

.depoimentos {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
}

.depoimentos .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10%;
    padding: 4em;
    gap: 1em;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
}

.depoimentos__destaque {
    font-size: 14px;
    font-weight: 600;
    color: var(--marrom);
}

.depoimentos__titulo {
    font-size: 36px;
    font-weight: 500;
    color: var(--preto);
    text-align: center;
    padding: 0.5em 0 1em 0;
}

.depoimentos__perfil-imagem {
    height: 56px;
    width: 56px;
}

.depoimentos__perfil-nome {
    font-weight: 500;
    color: var(--preto);
}

.depoimentos__perfil-cargo {
    font-size: 14px;
    color: var(--cinza);
}