.sobre {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em 30%;
}

.sobre .container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobre__titulo {
    color: var(--marrom);
    font-weight: 600;
}

.sobre__catch {
    font-size: 48px;
    font-weight: 600;
    color: var(--preto);
    padding: 0.8em 0;
}

.sobre__texto {
    font-size: 20px;
    color: var(--cinza);
    text-align: center;
    line-height: 150%;
}